{% include "blogposts/header.html" %}

<!-- Page Header -->
<header class="masthead"
  style="background-image: url('https://images.unsplash.com/photo-1531592937781-344ad608fabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Register</h1>
          <span class="subheading">Start Contributing to the Blog!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container text-center">
  <form action="" , method="POST">
    {% csrf_token %}
    <div class="container text-center py-1">
      <div class="row">
        <div class="col d-flex justify-content-end">
          {{form.username.label_tag}}
        </div>
        <div class="col d-flex justify-content-start">
          {{form.username}}
        </div>
      </div>
    </div>
    <div class="container text-center py-1">
      <div class="row">
        <div class="col d-flex justify-content-end">
          {{form.email.label_tag}}
        </div>
        <div class="col d-flex justify-content-start">
          {{form.email}}
        </div>
      </div>
    </div>
    <div class="container text-center py-1">
      <div class="row">
        <div class="col d-flex justify-content-end">
          {{form.password1.label_tag}}
        </div>
        <div class="col d-flex justify-content-start">
          {{form.password1}}
        </div>
      </div>
    </div>
    <div class="container text-center pt-1 pb-3">
      <div class="row">
        <div class="col d-flex justify-content-end">
          {{form.password2.label_tag}}
        </div>
        <div class="col d-flex justify-content-start">
          {{form.password2}}
        </div>
      </div>
    </div>
    {% if form.errors %}
    <div class="alert alert-danger container text-center mt-1" role="alert" , style="width: fit-content;">
      {{form.errors}}
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary mt-1 mb-5">Register</button>
  </form>
</div>


{% include "blogposts/footer.html" %}